<h3>Nova categoria</h3>
<div class="card">
 <div class="card-body">
    <form action="/admin/categories/new" method="post">
      <label for="name"> Nome: </label>
      <input type="text" id="name" name="name" placeholder="Name of categori" class="form-control">

      <label for="slug">Slug:</label>
      <input type="text" id="slug" name="slug" placeholder="Name of slug" class="form-control">
      <br>
      <button class="btn btn-success"> Create categori </button>
    </form>
 </div>
</div>