

<div class="card">
  <div class="card-body mb-4">
    <h1> {{post.title}} </h1>
    <hr>
    <small>Data de publicação: {{post.date}} </small><br>
    <hr>
    {{post.content}}
    <h5>FIM</h5>
  </div>
</div>